@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');


header
{
    background: black;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    padding: 40px 100px;
    height:max-content;
}

body 
{
    font-family: 'Opens Sans', sans-serif;
    line-height: 1.65em;
    text-align: center;
    max-width: 400px;
}

button
{
    background-color: #f04c2f;
    height: 30px;
    font-weight: bold;
    color: white;
    border: none;
    padding: 7px 20px;
    font-family: 'Montserrat (bold)', sans-serif;
    border-radius: 3px;
}

nav 
{
    text-align: center;
    font-family: Poppins, 'Open Sans', sans-serif;
    font-size: 1.2rem;
    height: 280px;
    padding: 45px 40px;
    background-image: url('../img/banner.jpg');
    background-size:cover;
    background-position: center center;
}

main 
{
    margin-left: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    padding-bottom: 15px;
}

main img
{
    border-radius: 50%;
    margin: 10px;
    text-align: center;
}

main div
{
    max-width: 350px;
    margin-top: 20px;
    margin-bottom: auto;
}

div > p
{
    max-width: 320px;
    padding-bottom: 20px;
    text-align: center;
}

h1
{
    font-size:xx-large;
}

h1,h3
{
    color: #25a2c3;
    text-align: center;
    font-family: 'Montserrat (bold)', sans-serif;
    line-height: 1.5em;
}

h2
{
    color: white;
    text-align: center;
    font-family: 'Montserrat (bold)', sans-serif;
    line-height: 1.5em;
    font-size:xx-large;
}

h3
{
    margin: 5px;
    font-size: larger;
}

aside
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.cards 
{
    height: auto;
    border: 2px solid #dee1e3;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

section 
{
    background-color: #e22d0e;
    color: white;
    padding: 30px 40px;
}

section p:first-of-type
{
   font-size: x-large;
}

section p:last-of-type
{
   font-size: smaller;
}

footer 
{
    color: white;
    background-color: #25a2c3;
    padding-top: 50px;
    padding-bottom: 30px;
}

footer hr
{
    display: inline-block;
    width: 200px;
}

img
{
    max-width: 350px;
    margin: auto;
    object-fit: contain;
}
cite
{
    font-style: italic;
}